@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>
<p>Hello from our view template</p>
<ul>
    @for (int i =0; i < (int)ViewData["NumOfTimes"]; i++)
    {
        <li> @ViewData["Message"]   </li>
    }
</ul>